body {
	width: 960px;
	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #666666;
	color: #777777
}

#myName {
	background: #4aaaa5;
	padding: 5px;
	text-align: center;
	float: left;
	color: #fff;
	height: 25px;

	margin-left: 85px;
}

header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #fff;

	
	height: 75px;
}
nav {
	float: right;
	color:
	}
li {
	display: inline; 
	padding: 4px;
}
main {
	width: 100%;
}
.aboutMe{
	clear: both;
	background-color: #fff
	width: 65%;
}
#textStyle{
	color: #4aaaa5;
	padding: 6px;
	border-bottom: solid;
}
.pic{
	padding: 0 10px 3px 0;
}

#floatLeft{
	float: left;
}
.sideBar{
	float: right;
	background-color: white;
	padding: 19px;
	
}

.imgProperties{
	width: 201px;
	height: 149px;
}


#img{
	width: 137px;
	height: 104px;
}


footer{
	clear: both;
	text-align: center;
	color: #fff;
	padding: 20px 0;
}
.wrapper{
	
	margin: 0 auto;
	margin: 2px;
	background-color: white;
}